.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.simulator {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.roster {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}

.player {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.player label {
  color: #aaa;
  font-size: smaller;
  text-transform: uppercase;
}

.player h1 {
  font-size: 16pt;
  margin: 0px;
}

td {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
}

.configurationSlider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.configurationSlider label {
  flex-basis: 100px;
  text-align: right;
}

.configurationSlider p {
  flex: 1;
  margin: 0px;
}

.slider {
  flex: 1;
  margin: 0px 10px;
}

.result {
  min-height: 500px;
}